* {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: black;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

header {
  padding: 50px;
  text-align: center;
  /* Refer to CSS values by the name of the custom property we assigned it */
  background: black;
  color: white;
  
}

nav {
  display: flex;
  background-color: transparent;
  padding: 0px;
  align-items: center;
}

.left-cats{
  flex:1 1 200px;
}

.cats {
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 2rem;
}


.cats:hover {
  background-color: white;
  color: black;
}


.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 30px;
  background-image: url("../images/profile.jpg");
  background-size: contain;
  background-position: center;
  position: relative;
}

.darken{
  filter: brightness(50%);
}

.big_name {
  font-size: 4.5rem;
}
.nav_desc {
  font-size: 1.5rem;
}

.nav-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.content {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  background-color: black;
}

.content p {
  margin-top: 20px ;
  margin-bottom: 20px ;
}

.content ul {
  list-style-type: circle;
  margin-left: 600px;
  list-style-position: inside;
}

.float-left {
  float: left;
  margin-right: 25px;
}


.about {
  margin-bottom: 20px;
  padding: 30px;
  height: 360px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black;
  color: white;
  border: 1px dashed white;
}

.content > h2 {
  position: absolute;
  background-color: black;
  color: white;
  height: 20px;
  margin-top: -19px;
  margin-left: 10px;
  padding: 0 10px;
}


.about img {
  max-height: 300px;
}

.content h2 {
  font-size: 36px;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: black;
  color: white;
  margin-top: auto;
}

.products {
  flex: 1;
  background-color: black;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  padding-top: 20px;
  flex: 1 0 0;
  margin: 20px;
  outline: 2px dashed white;
  perspective: 1000px;
  background-color: transparent;
  width: 400px;
  height: 350px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card:focus {
  outline: 0;
}

.card:hover .card-inner,
.card:focus .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.card-front {
  background-color: transparent;
  color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  padding: 50px;
  background: black;
  color: white;
}

.card header {
  /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
  position: absolute;
  margin: -3.4rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  font-size: 36px;
}

.card:hover,
.card:hover header {
  box-shadow: inset 0px 0px 8px white, 0 0 15px white;
  color: white
}

.card > p {
  text-align: center;
  color: white;
}

.card > img {
  width: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-struc {
  flex: 1;
  background-color: black;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact {
  display: inline ;
  padding: 10px;
  margin: 20px;
}

.contact > p {
  text-align: right;
  color: white;
}



@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
